main {
  flex: 1 0 auto;
  height: 86vh;
}

h2 {
  margin: 0 auto;
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #262637;
}

.wrapper {
  display: flex;
  height: 100%;
  overflow: auto;
  justify-content: space-around;
  padding: 15px 10px;
}

.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  box-shadow: 7px 4px 8px 0px rgba(34, 60, 80, 0.2);
  height: 100%;
  overflow: auto;
}

.formComponent {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  padding: 5px 10px;
  justify-content: space-around;
  align-items: stretch;
}

.formComponent > label {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type='text'] {
  width: 70%;
}

.formsElement {
  margin: 5px 0;
}
.formsElement div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px 0;
}

.formsElementRadio {
  margin: 5px 0;
}
.formsElementRadio div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.formsElementRadio div > label {
  width: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button[type='submit'] {
  margin: 0 auto;
  width: 80px;
  height: 35px;
  border-radius: 5px;
  background-color: #262637;
  border-color: #262637;
  color: #00deb6;
  font-size: 16px;
  font-family: 'Sansita Swashed', cursive;
  cursor: pointer;
  transition: 1s;
}

button[type='submit']:hover {
  transform: scale(1.1);
}

.containerCardsForm {
  width: 55%;
  padding: 10px;
  display: flex;
  box-shadow: 7px 4px 8px 0px rgba(34, 60, 80, 0.2);
}