header {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  background: #262637;
  height: 7vh;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 1px 8px 8px 0px rgba(34, 60, 80, 0.2);
}
