header {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  background: #262637;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 1px 8px 8px 0px rgba(34, 60, 80, 0.2);
}

.searchBar {
  width: 70%;
  height: 50px;
  border-radius: 45px;
  border: 3px solid #00deb6;
  padding: 1% 5%;
  outline: none;
  background-image: url('../assets/iconSaler/search.png');
  background-repeat: no-repeat;
  background-size: 4%;
  background-position: calc(100% - 98%);
}

.searchBar::placeholder {
  color: #00deb6;
  font-size: 18px;
}
